<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>transaccion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input label="Usuario" labelPlacement="floating" placeholder="Enter usuario"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-input label="Email" labelPlacement="floating" placeholder="Enter email"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-input label="Direccion" labelPlacement="floating" placeholder="Enter Direccion"></ion-input>
        </ion-item>
  
      </ion-list>
    </ion-card-content>
<ion-button routerLink="/transaccion">Registrar</ion-button>
<ion-button>Eliminar</ion-button>
<ion-button>Default</ion-button>
</ion-card>
</ion-content>
